@import "../node_modules/font-awesome/less/font-awesome";

@blue : #007ACC;
@gray : #7f7f7f;

body{
    padding: 0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    outline-color: @blue;
}

::-webkit-scrollbar{ 
    background-color: transparent;
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb { 
    background-color: rgba(200, 200, 200, .2);
}
::-webkit-scrollbar-corner{ 
    background-color: transparent;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.no-select{
    -webkit-user-select: none;
}

::selection {
    color: #fff; 
    background: #aaa; 
}

.Root{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: stretch;
    background-color: #252526;
}

.Block{
    display : flex;
    align-items : stretch;

    .divider{
        border: 2px solid #555;
        transition: .2s;
        &:hover{
            border-color: #999;
        }
        &.column{
            cursor:row-resize;
        }
        &.row{
            cursor:col-resize;
        }
    }
}

.menu-horizontal{
    flex: 1;
    display: flex;
    flex-direction: row;

    &.center{
        justify-content: center;
    }

    &.left{
        justify-content: flex-start;
    }

    &.right{
        justify-content: flex-end;
    }

    &.stretch{
        align-items: stretch;
        .item{
            flex: 1;
        }
    }

    .item{
        padding: 10px 10px;
        cursor: pointer;
        transition: .2s;
    }
}

.GameWindow{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;

    canvas{
        margin: 0px auto;
        display: block;
        max-height: 100%;
        max-width: 100%;
        position: relative;
    }
}

.BottomRow{
    background-color: @blue;
    color: white;
    padding: 5px 20px;
    width: 100%;
    font-size: 11px;
}

.Console{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    padding: 10px 15px;
    overflow: hidden;
    font-size: 13px;
}

.project-name{
    width: 100%;
    padding: 5px 15px;
    background-color: #3C3C3C;
    font-size: 12px;
}

.Project-tree{
    padding: 5px 15px;
    font-size: 12px;
}

.Tabs{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;

    .scrollable{
        overflow-y: scroll;
    }

    .Tab{
        width: 100%;
        height: 100%;
        display: block;
    }

    .content{
        width: 100%;
        flex: 1;
        position: relative;
        display: block;
        overflow: hidden;
    }

    .head{
        width: 100%;
        position: relative;
        .item{
            background-color: @gray;
            padding: 7px 10px;
            cursor: pointer;
            text-transform: uppercase;
            transition: .2s;
            flex: 1;
            font-size: 10px;

            .title.hasIcon{
                margin-left: 20px;
            }
            .icon{
                position: absolute;
                font-size: 15px;
                top: 4px;
            }

            &.active{
                opacity: 1;
            }

            &.unactive{
                opacity: .5;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}

.CodeEditor{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    color: white;
}

#CodeEditor{
    width: 100%;
    height: 100%;
}

.fileTree{
    width: 100%;
    list-style: none;
    
    ul{
        width: 100%;
        list-style: none;
    }


    .file{
        width: 100%;
        padding: 4px 0px;
        font-size: 12px;
        cursor: pointer;
        color: #ccc;
        position: relative;
        display: block;



        .text{
            position: relative;
        }

        &.dir{
            
            .text:before{
                content: '+';
                position: absolute;
                left: -15px;
                top: 0px;
            }

            &.expanded .text:before{
                content: '-';
                position: absolute;
                left: -15px;
                top: 0px;
            }
        }

        &:hover{
            background-color: #3C3C3C;
            .overlay{
                background-color: #555;
            }
        }
    }
}

.Hierarchy{
    .topBar{
        background-color: #1E1E1E;
        width: 100%;
        display: flex;
        align-items: stretch;

        .search{
            flex: 1;
        }
    }
    .additionInput{
        background-color: #1E1E1E;
        color: #999;
        border: 0;
        outline: 0;
        width: 100%;
        padding: 3px 20px;
        font-size: 13px;
    }

    ul{
        padding-top: 10px;
        li{
            padding: 3px 20px;
            font-size: 13px;
            color: #ccc;
            width: 100%;
            cursor: pointer;
            &:hover{
                background-color: #3C3C3C;
            }
            &.focused{
                background-color: #555;
            }
        }
    }
}


.Inspector{
    .objHeader{
        padding: 10px 10px;
        background-color: #3C3C3C;
        .row{    
            display: flex;
            align-items: stretch;
        }
        .objIcon{
            margin-right: 10px;
            position: relative;
            top: 2px;
        }
        input{
            flex: 1;
        }
    }

    .component{
        background-color: #3C3C3C;
        border-top: 2px solid #1E1E1E;
        color: #ccc;
        font-size: 14px;

        .head{
            padding: 5px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .icon{
                margin-right: 10px;
            }
            .dropDown{
                color: #999;
                cursor: pointer;
                transition: .2s;
                &:hover{
                    color: white;
                }
            }
        }

        .row{
            border-top: 1px solid #2e2e2e;
            padding: 5px 10px;
        }
    }
}

.btn{
    background-color: #555;
    color: #ccc;
    padding: 4px 10px;
    border: 0;
    cursor: pointer;

    &:hover{
        background-color: #444;
    }
}

.input{
    background-color: #1E1E1E;
    color: #999;
    border: 0;
    padding: 4px 10px;
    outline: 0;

    &:focus{
        color: #ccc;
        background-color: #202020;
    }
}

.flex{
    .row{
        width: 100%;
        display: flex;
        align-items: stretch;
        
        &.center{
            align-items: center;
            justify-content: center;
        }
    }

    .flex-1{
        flex: 1;
    }

    .flex-2{
        flex: 2;
    }
}

.mt-20{
    margin-top: 20px;
}

.mt-10{
    margin-top: 10px;
}